body{

margin:0;
font-family:Poppins,sans-serif;
background:linear-gradient(
135deg,
#ffdde1,
#ee9ca7
);

text-align:center;

overflow-x:hidden;

}

.container{

padding:40px;

}

h1{

font-size:30px;
color:#e91e63;

}

h2{

color:white;

}

.gallery{

display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;

margin-top:30px;

}

.gallery img{

width:250px;
height:300px;

object-fit:cover;

border-radius:20px;

box-shadow:0 10px 20px rgba(0,0,0,.2);

transition:.5s;

}

.gallery img:hover{

transform:scale(1.05);

}

.message{

background:white;

padding:25px;

margin-top:30px;

border-radius:20px;

font-size:20px;

line-height:1.8;

}

.quotes{

margin-top:30px;

}

.quotes p{

background:#fff;

padding:15px;

margin:10px;

border-radius:10px;

color:#d81b60;

font-weight:bold;

}

button{

padding:15px 40px;

background:#ff4081;

border:none;

border-radius:50px;

color:white;

font-size:18px;

cursor:pointer;

margin-top:20px;

}
